.page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.add-activity-page-title{
    font-size: 26px;
    color: white;
}

.main-container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #00396A;
}

.add-activity-name,
.add-activity-lector,
.add-activity-building,
.add-activity-room,
.add-activity-capacity,
.add-activity-is-mandatory{
    height: 50px;
    width: 80%;
    border-radius: 10px;
    background-color: #336C9D;
    margin-top: 10px;
}

.add-activity-name input::placeholder,
.add-activity-lector input::placeholder,
.add-activity-building input::placeholder,
.add-activity-room input::placeholder,
.add-activity-capacity input::placeholder,
.add-activity-is-mandatory input::placeholder{
    color: white;
}

.add-activity-start-date,
.add-activity-end-date{
    height: 50px;
    width: 80%;
    border-radius: 10px;
    background-color: #336C9D;
    margin-top: 10px;
}

.add-activity-description{
    height: 150px;
    width: 80%;
    border-radius: 10px;
    background-color: #336C9D;
    margin-top: 10px;
}

.add-activity-description textarea::placeholder{
    color: white;
}

.add-activity-name input,
.add-activity-lector input,
.add-activity-room input{
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 14px;
    padding-left: 15px;
    background: transparent;
    color: white;
}

.add-activity-description textarea{
    height: 150px;
    width: 100%;
    outline: none;
    font-size: 14px;
    padding-left: 10px;
    background: transparent;
    padding-top: 10px;
}

.datepicker .MuiInputBase-root {
    color: white;
}

.datepicker .MuiInputLabel-root {
    color: white;
    font-size: 14px;
}

.datepicker .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.datepicker .MuiInputLabel-outlined.MuiInputLabel-shrink {
    display: none;
}
  
.datepicker .MuiIconButton-root {
    color: white;
}


.add-activity-submit-button{
    display: flex;
    background-color: #009406;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
